<div class="container">
    <img src="https://www.eatthis.com/wp-content/uploads/sites/4/2021/12/mcdonalds-1.jpg?quality=82&strip=1
    " alt=""/>
    <div><p>Fast food</p>
    <p>123 get fat fast lane, Auckland</p></div>
    <div><a  href="/restaurants/mcdonalds">McDonalds</a></div> 
    <div>5 stars</div>
  </div>
  {{#each restaurants}}
  <div>
   <img src="{{image}}" alt="{{description}}"/>
    <div><p>{{cuisineType}}</p>
    <p>{{address}}</p></div>
    <div><a  href="/restaurants/{{restaurantNameHyphenated}}">{{restaurantName}}</a></div> 
    <div>{{averageRating}}</div>
  </div>
  {{/each}}
</div>
