
</div>
  {{#each restaurants}}
  <div class="entries">
   <img class="restaurantImages" src="{{imageSource}}" alt="{{description}}"/>
   <div class="nameRating">
    <a href="/restaurants/lillius"><h2 class="nameLink">{{name}}</h2></a> 
        <div class="rating">{{averageRating}}</div>
   </div>
    <div><p>{{cuisine_type}}</p>
    <p>{{rating}}</p>
    <p>{{location}}</p></div>
    <div><a  href="/restaurants/{{restaurantNameHyphenated}}">{{restaurantName}}</a></div> 

  </div>
  {{/each}}
</div>

